body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid green; */
    margin-top: 300px;
    border-radius: 4px;
    width: 400px;
    height: 190px;
    margin-left: 600px;
 background-color: rgb(98, 98, 92);

}

#clockContainer {
    color: aquamarine;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}

.container
{
    border: 2px solid white;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgb(0, 0, 0);
    margin: 10px;
 
}

.mainContainer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: aqua;
    width: 500px;
    padding: 40px;
}

button{
     background-color: rgb(138, 221, 28);
     border-radius: 5px;
}

button:hover {
    background-color: rgb(21, 228, 183);
    color: rgb(3, 3, 3);
    transition-duration: 0.2s;
    
}